# Ignore system & user-specific files
AppData/
NTUSER.DAT*
*.log
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore Python caches/virtual envs
__pycache__/
*.py[cod]
env/
venv/
.venv/
ENV/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode configs
.vscode/

# Other files/folders to exclude
.anaconda/
.ipython/
.jupyter/
.cache/

# Ignore personal files/folders you don't want in repo
*.ipynb_checkpoints/
